#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
export CFLAGS:=$(shell dpkg-buildflags --get CFLAGS)
export CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS)
export LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS)

# Use qt4's qmake executable
export QMAKE:="qmake-qt4"


%:
	dh $@ 


# We call qmake explicitly (instead of letting dh do the work) in
# order to make sure we use the qmake binary specified in $(QMAKE)
override_dh_auto_configure: Makefile

Makefile:
	$(QMAKE)
	$(MAKE) qmake


MANPAGES := debian/karlyriceditor.1

override_dh_auto_build: $(MANPAGES)

debian/%.1: debian/%.sgml
	docbook-to-man $< > $@

clean:
	rm -f $(MANPAGES)
	dh $@
